header {
    .nav-left{
        width: 100%;
    }

    .navbar{
        background: rgba(0, 0, 0, 0.8);

        .noti__cart {
            position: relative;
            padding: 0.2em 0.5em;
            top: -40px;
            left: 20px;
        }
    }

}

